<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <property name="pattern" value="%d{yyyy-MM-dd HH:mm:ss} %blue([%thread]) %-5level %boldGreen(%logger{50}) - %msg%n"/>

  <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">

    <target>System.err</target>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>${pattern}</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="consoleAppender"/>
  </root>

</configuration>